<ion-header>
  <ion-toolbar>
    <ion-title>Mojix Music App</ion-title>
    <div slot="end">
      <ion-label>Music/Movie</ion-label>
      <ion-toggle></ion-toggle>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-searchbar
    type="text"
    debounce="500"
    (ionChange)="search($event)"
  ></ion-searchbar>
  <ion-list>
    <app-song
      *ngFor="let song of (songList | async)?.results; let i = index"
      [currentSong]="song"
    ></app-song>
  </ion-list>
</ion-content>
<ion-footer> </ion-footer>
